/* line 1, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_header.scss */
nav {
  padding: 0.5rem 0;
}

/* line 4, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_header.scss */
nav ul {
  margin: 0;
}

/* line 7, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_header.scss */
nav .active {
  border-bottom: 0.05rem solid #fff;
}

/* line 1, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_footer.scss */
footer {
  background-color: #EAE7D2;
  padding: 0.5rem;
}

/* line 4, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_footer.scss */
footer p, footer li, footer a {
  color: #1D3622;
}

/* line 1, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
h1,
h2,
h3,
p,
li,
a {
  color: #EAE7D2;
}

/* line 10, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
h1,
h2 {
  font-family: "baskerville-urw", serif;
  font-weight: 700;
  font-size: 1.7rem;
}

/* line 17, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
h3 {
  font-family: "baskerville-urw", serif;
  font-weight: 700;
  font-size: 1.4rem;
}

/* line 23, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
p,
li,
a {
  font-family: "lato", sans-serif;
  font-size: 1rem;
}

/* line 30, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
li {
  list-style: none;
}

/* line 34, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
a {
  text-decoration: none;
}

/* line 38, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
a:hover {
  color: inherit !important;
}

/* line 42, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
body {
  background-color: #1D3622;
  background-image: url(../images/pattern-gold.png);
}

/* line 47, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
body#hateno {
  background-color: #4d2e1d;
}

/* line 51, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.tan {
  background-color: #EAE7D2;
}

/* line 54, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.tan .text {
  padding: 2.5rem;
}

/* line 58, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.tan h1,
.tan h2,
.tan h3,
.tan p,
.tan li,
.tan a {
  color: #1D3622;
}

/* line 68, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.relative {
  position: relative;
}

/* line 72, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.absolute {
  position: absolute;
}

/* line 76, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.filter {
  filter: contrast(90%) brightness(60%);
}

/* line 88, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.hero {
  margin-top: 0;
}

/* line 91, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.hero p {
  font-style: italic;
}

/* line 95, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.hero .text {
  position: relative;
  margin-top: -10rem;
  z-index: 10;
}

/* line 102, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.hero .subhead {
  font-style: italic;
  text-align: right;
  margin-right: 0%;
}

/* line 107, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.hero .subhead :before {
  content: "";
  position: absolute;
  width: 26%;
  height: 0.4%;
  background: #fff;
  left: 0%;
  top: 50%;
}

/* line 120, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
#home .gradient::before {
  content: "";
  height: 3%;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(to bottom, #1D3622, transparent);
  opacity: 1;
}

/* line 132, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
#hateno .gradient::before {
  content: "";
  height: 3%;
  position: absolute;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(to bottom, #4d2e1d, transparent);
  opacity: 1;
}

/* line 144, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
#hateno .hero {
  max-height: 20rem;
  overflow: hidden;
}

/* line 148, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
#hateno .hero .text {
  margin-top: -200%;
}

/* line 155, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
section {
  padding: 1rem 0;
}

/* line 159, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.headingline {
  padding: 0.3% 5%;
  background-color: #fff;
}

/* line 167, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.main .subhead {
  font-style: italic;
  text-align: right;
  margin-right: 10%;
}

/* line 172, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.main .subhead :before {
  content: "";
  position: absolute;
  width: 20%;
  height: 0.4%;
  background: #1D3622;
  left: 18%;
  top: 34.5%;
}

/* line 185, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.map {
  padding: 1rem;
}

/* line 189, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.explore h2 {
  padding-top: 2rem;
}

/* line 194, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.about .subhead {
  font-style: italic;
  text-align: right;
  margin-right: 19%;
}

/* line 200, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.about .subhead :before {
  content: "";
  position: absolute;
  width: 38%;
  height: 0.3%;
  background: #fff;
  left: 21%;
  top: 25%;
}

/* line 215, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
#hateno .about .subhead {
  font-style: italic;
  text-align: right;
  margin-right: 19%;
}

/* line 221, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
#hateno .about .subhead :before {
  content: "";
  position: absolute;
  width: 20%;
  height: 0.3%;
  background: #fff;
  left: 30%;
  top: 32%;
}

/* line 237, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.explore .subhead {
  text-align: right;
  margin-right: 5%;
}

/* line 241, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.explore .subhead :before {
  content: "";
  position: absolute;
  width: 22%;
  height: 0.4%;
  background: #1D3622;
  left: 30%;
  top: 76%;
}

/* line 252, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.explore .map {
  padding-bottom: 1rem;
}

/* line 258, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.locations li {
  margin-bottom: 2rem;
}

/* line 262, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.locations a:hover img {
  box-shadow: 0.1rem 0.1rem 0.5rem #1D3622;
}

/* line 269, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

/* line 273, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery .subhead {
  font-style: italic;
  text-align: right;
  margin-right: 11%;
}

/* line 279, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery .subhead :before {
  content: "";
  position: absolute;
  width: 33%;
  height: 0.3%;
  background: #fff;
  left: 14%;
  top: 68%;
}

/* line 292, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.hero {
  margin-bottom: 2rem;
}

/* line 296, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.main {
  margin-bottom: 2rem;
}

/* line 300, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.about {
  margin-bottom: 2rem;
}

/* line 305, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.locations h3 {
  margin-bottom: 0;
}

/* line 312, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery img {
  filter: brightness(100%);
  transition: filter, 0.3s;
}

/* line 317, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery img:hover {
  filter: brightness(40%);
}

/* line 320, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery img:hover + .likes {
  opacity: 100%;
}

/* line 326, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery .likes {
  z-index: 1;
  margin-top: -16%;
  margin-left: 70%;
  opacity: 0;
  transition: opacity, 0.3s;
}

/* line 333, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
.gallery .likes p:after {
  position: absolute;
  content: url(../images/heart.png);
  top: 0%;
  left: 50%;
}

@media all and (max-width: 992px) {
  /* line 349, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  h2 {
    font-size: 1.4rem;
  }
  /* line 353, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  h3 {
    font-size: 1.15rem;
  }
  /* line 358, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .hero .subhead :before {
    width: 32%;
    height: 0.4%;
    left: 3%;
    top: 53%;
  }
  /* line 367, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .main .subhead :before {
    width: 19%;
    height: 0.4%;
    left: 14%;
    top: 31%;
  }
  /* line 376, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  p {
    font-size: 0.9rem;
  }
  /* line 380, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .about .subhead {
    margin-right: 16%;
  }
  /* line 383, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .about .subhead :before {
    width: 38%;
    left: 19%;
    top: 22%;
  }
  /* line 390, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .explore .subhead {
    margin-right: 8%;
  }
  /* line 393, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .explore .subhead :before {
    width: 26%;
    left: 28%;
  }
  /* line 399, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .gallery .subhead {
    margin-right: 6%;
  }
  /* line 402, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .gallery .subhead :before {
    left: 10%;
    top: 65%;
  }
  /* line 409, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .about .subhead {
    margin-right: 16%;
  }
  /* line 412, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .about .subhead :before {
    width: 20%;
    left: 28%;
    top: 26%;
  }
  /* line 419, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .explore .subhead {
    margin-right: 8%;
  }
  /* line 422, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .explore .subhead :before {
    width: 20%;
    left: 32%;
  }
  /* line 428, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .gallery .subhead {
    margin-right: 14%;
  }
  /* line 431, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .gallery .subhead :before {
    width: 20%;
    left: 16%;
    top: 65%;
  }
  /* line 439, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .hero .text {
    margin-top: -150%;
  }
  /* line 447, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .gallery .likes {
    margin-top: -20%;
    margin-left: 65%;
  }
  /* line 451, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .gallery .likes p:after {
    top: 0%;
    left: 50%;
  }
  /* line 461, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .locations p {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 768px) {
  /* line 467, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .hero .subhead {
    margin-right: 9%;
  }
  /* line 470, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .hero .subhead :before {
    width: 25%;
    left: 10%;
  }
  /* line 476, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  h2 {
    font-size: 1.2rem;
  }
  /* line 480, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  p {
    font-size: 0.8rem;
  }
  /* line 484, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .tan .text {
    padding: 1rem;
  }
  /* line 488, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .main .subhead {
    margin-right: 0;
  }
  /* line 491, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .main .subhead :before {
    width: 19%;
    height: 0.4%;
    left: 8%;
    top: 25%;
  }
  /* line 499, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .about .subhead {
    margin-right: 11%;
  }
  /* line 502, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .about .subhead :before {
    width: 40%;
    left: 14%;
    top: 18%;
  }
  /* line 510, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .about .subhead {
    margin-right: 11%;
  }
  /* line 513, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .about .subhead :before {
    width: 20%;
    left: 25%;
    top: 26%;
  }
  /* line 520, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .explore .subhead {
    margin-right: 0%;
  }
  /* line 523, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .explore .subhead :before {
    width: 28%;
    left: 25%;
  }
  /* line 529, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .hero .text {
    margin-top: -80%;
  }
}

@media all and (max-width: 550px) {
  /* line 538, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  h2 {
    font-size: 1.1rem;
  }
  /* line 543, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .main .subhead :before {
    width: 16%;
  }
  /* line 549, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  .gallery .subhead :before {
    width: 30%;
  }
  /* line 556, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .about .subhead :before {
    top: 25%;
    left: 28%;
  }
  /* line 563, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .explore .subhead :before {
    width: 15%;
  }
  /* line 569, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .gallery .subhead :before {
    width: 15%;
    top: 63%;
  }
  /* line 575, ../../../Documents/coding/destination/Turner_Destination/sass/custom/_body.scss */
  #hateno .hero .text {
    margin-top: -50%;
  }
}

/*# sourceMappingURL=styles.css.map */